<script>
	import { Navbar, NavBrand, NavLi, NavUl, NavHamburger } from 'flowbite-svelte';
	import '../app.postcss';
</script>

<Navbar let:hidden let:toggle>
	<NavBrand href="/">
		<img
			src="https://cdn2.vectorstock.com/i/1000x1000/11/31/logo-zoo-vector-12021131.jpg"
			class="mr-3 h-6 sm:h-9"
			alt="Flowbite Logo"
		/>
		<span class="self-center whitespace-nowrap text-xl font-semibold dark:text-white">
			ZooApp
		</span>
	</NavBrand>
	<NavHamburger on:click={toggle} />
	<NavUl {hidden}>
		<NavLi href="/" active={true}>Home</NavLi>
		<NavLi href="/about">About</NavLi>
		<NavLi href="/settings">Settings</NavLi>
	</NavUl>
</Navbar>
<slot />
