<script>
	import { Card, Toggle } from 'flowbite-svelte';
	let vCard = true;

	const fetchImage = (async () => {
		const response = await fetch('https://zoo-animal-api.herokuapp.com/animals/rand/10');
		return await response.json();
	})();
</script>

{#await fetchImage}
	<p>...waiting</p>
{:then data}
	{#each data as animal}
		<div>
			<Card img={animal.image_link} href="/" horizontal reverse={vCard}>
				<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
					{animal.name}
				</h5>
				<p class="mb-3 font-normal text-gray-700 dark:text-gray-400 leading-tight">
					<strong>Type d'habitat :</strong>
					{animal.habitat}
				</p>
				<p class="mb-3 font-normal text-gray-700 dark:text-gray-400 leading-tight">
					<strong>Lieu :</strong>
					{animal.geo_range}
				</p>
				<p class="mb-3 font-normal text-gray-700 dark:text-gray-400 leading-tight">
					<strong>Espérance de vie :</strong>
					{animal.lifespan}
				</p>
			</Card>
			<Toggle bind:checked={vCard} class="mt-4 italic dark:text-gray-500">Inverser l'image</Toggle>
		</div>
	{/each}
{:catch error}
	<p>An error occurred!</p>
{/await}
